@font-face {
  font-family: Iosevka Custom;
  src: url('../ttf/iosevka-custom-regular.ttf');
}

@font-face {
  font-family: Iosevka Custom;
  src: url('../ttf/iosevka-custom-oblique.ttf');
  font-style: oblique;
}

body {
  font-family: Iosevka Custom;
  font-size: 14pt;
}

h1 {
  font-size: 30pt;
}

a {
  outline: none;
  color: #f8bdc4;
  font-style: oblique;

  transition: color .2s;
}

a:hover {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: lower-greek;
}

.bg-dark {
  background: #1b4965 !important;
}

.text-light {
  color: #fefefe;
}

.stable {
  background: #14364a;
}

.release-list a {
  font-style: unset;
}

.list-group-item {
  background: #173c53;
  color: #fefefe;

  transition: .2s background;
}

.list-group-item .text-muted {
  color: #94a3ac !important;
}

.list-group-item:hover, .list-group-item:focus {
  background: #14364a;
  color: unset;
}

@media (max-width: 767.98px) {
  .list-group-flush:last-child .list-group-item:last-child {
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
}
